<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
		<controlSources>
			<source mode="on" namespace="Sitecore.SharedSource.CustomFields.Fields" assembly="Sitecore.SharedSource.CustomFields" prefix="custom" />
		</controlSources>
	
	    <fieldTypes>
			<fieldType name="NameValueDroplist" type="Sitecore.SharedSource.CustomFields.Fields.NameValueDroplistField,Sitecore.SharedSource.CustomFields" />
			<fieldType name="NameValueDroplists" type="Sitecore.SharedSource.CustomFields.Fields.NameValueDroplistsField,Sitecore.SharedSource.CustomFields" />
			<fieldType name="SortableMultilist" type="Sitecore.SharedSource.CustomFields.Fields.SortableMultilistField,Sitecore.SharedSource.CustomFields" />
			<fieldType name="TimeZonesDroplist" type="Sitecore.SharedSource.CustomFields.Fields.TimeZonesDropList,Sitecore.SharedSource.CustomFields" />
		</fieldTypes>
    </sitecore>
</configuration>
